html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
}

html, body, .controller {
  height: 100%;
}

.controller {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.content {
  min-height: 400px;
  -webkit-flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.viewport {
  -webkit-flex: 1;
  flex: 1;
  font-family: monospace;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
}

.table-headers {
  margin-bottom: 0;
  width: auto;
  margin-right: 17px;
}

.button-row {
  margin-top: 15px;
}

.button-row .col-sm-3 {
  padding: 0; 
}

.mem-hex {
  color: blue;
}

.mem-decimal {
  color: red; 
}

.mem-binary {
  color: white;
  background-color: black;
}

.info .mem-binary {
  color: black; 
}

.plain-input {
  width: 100%;
  background-color: inherit;
  border: 0;
  padding: 0;
}